{erl_opts, [debug_info]}.

{deps, []}.

{pre_hooks, [
    {"(linux|darwin|solaris)", compile, "./build.sh"},
    {"(freebsd)", compile, "./build.sh"}
]}.

{post_hooks, [
    {"(linux|darwin|solaris)", clean, "cargo clean && rm -rf priv"},
    {"(freebsd)", clean, "cargo clean && rm -rf priv"}
]}.

%% Tell rebar3 where to find the NIF
{artifacts, ["priv/elmdb_rs.so"]}.

{eunit_tests, [
    {module, hyper_lmdb_test},
    {module, hyper_lmdb_list_prefix_test},
    {module, hyper_lmdb_link_test}
]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.